.img {
    width: 17rem;
    height: 23rem;
    margin: 0 auto 1rem;
    background-position: center;
    background-size: cover;
    border-radius: 3rem;
    box-shadow: .1rem .1rem .1rem var(--color);
}

.info {
    border-top: 2px solid var(--color);
    display: flex;
    align-items: center;
    padding: .75rem 0;
    text-decoration: none;
    color: inherit;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 800;
}

